
[Config]
applet_count=11
panel_count=2
tearoffs_count=0

[Panel_1]
type=0
hidebuttons_enabled=true
hidebutton_pixmaps_enabled:Conditional={screen_width > 800}true{true}false
mode=0
state=0
level=0
avoid_on_maximize=true
screen=0
unique_id=10000001
sz:Conditional={screen_width <= 320}12{screen_width < 800}24{screen_width < 1024}36{true}48
fit_pixmap_bg=true
strech_pixmap_bg=false
rotate_pixmap_bg=true
backpixmap=
backcolor=#000000
back_type=0
edge=2

[Panel_2]
type=5
unique_id=10000002
sz=24
fit_pixmap_bg=false
strech_pixmap_bg=false
rotate_pixmap_bg=false
backpixmap=
backcolor=#000000
back_type=0
screen=0
