INSTALL
Makefile
Makefile.in
aclocal.m4
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
gnome-doc-utils.make
gtk-doc.make
install-sh
intltool-extract
intltool-extract.in
intltool-merge
intltool-merge.in
intltool-update
intltool-update.in
libtool
ltmain.sh
missing
mkinstalldirs
omf.make
stamp-h1
xmldocs.make
*.o
*.lo
.deps
.libs
*~
