[Desktop Entry]
Name=Fish
Name[ca]=Peix de GNOME
Name[cs]=Ryba
Name[de]=Fisch
Name[es]=Pez
Name[et]=Kala
Name[eu]=Arrain
Name[fi]=Kala
Name[fr]=Poisson
Name[gl]=Peixe
Name[hu]=Hal
Name[it]=Pesce
Name[ja]=Gnome¤µ¤«¤Ê·¯
Name[ko]=¹°°í±â
Name[nl]=Vis
Name[no]=Fisk
Name[pl]=Rybka
Name[pt]=Peixe
Name[pt_BR]=Peixes
Name[ru]=òÙÂËÁ
Name[sv]=Fisken
Name[wa]=Pexhon
Comment=Fish
Comment[ca]=Applet del Peix de GNOME
Comment[cs]=Ryba
Comment[de]=GNOME-Fisch-Applet
Comment[es]=El pececillo de GNOME
Comment[et]=GNOME kala (tuntud Wanda nime all)
Comment[eu]=GNOME arrraintxoa
Comment[fi]=GNOME-kala
Comment[fr]=Poisson GNOME
Comment[gl]=Peixe de GNOME
Comment[hu]=GNOME hal
Comment[it]=Applet del Pesce GNOME
Comment[ja]=Gnome¤µ¤«¤Ê·¯
Comment[ko]=GNOME ¹°°í±â
Comment[nl]=Fortunes debiterende vis
Comment[no]=Fisk
Comment[pl]=Rybka
Comment[pt]=Applet do peixe GNOME
Comment[pt_BR]=Applet do peixe GNOME
Comment[ru]=òÙÂËÁ
Comment[sv]=GNOME-fisken
Comment[wa]=Li ptit pexhon di GNOME
Exec=fish_applet --activate-goad-server=fish_applet
Icon=gnome-fish.png
Terminal=0
Type=Application
