[Desktop Entry]
Name=Fish
Name[fr]=Poisson
Name[cs]=Ryba
Comment=Fish
Comment[fr]=Poisson GNOME
Comment[cs]=Ryba
Exec=fish_applet
Icon=
Terminal=0
Type=Application
