[Desktop Entry]
Name=Fish
Name[ja]=Gnomeㅅㄻㅚ러
Name[es]=Pez
Name[fr]=Poisson
Name[cs]=Ryba
Name[de]=Fisch
Name[hu]=Hal
Name[ko]=물고기
Name[no]=Fisk
Name[pl]=Rybka
Name[pt]=Peixe
Name[nl]=Vis
Comment=Fish
Comment[ja]=Gnomeㅅㄻㅚ러
Comment[es]=El pececillo de GNOME
Comment[fr]=Poisson GNOME
Comment[cs]=Ryba
Comment[de]=GNOME Fisch Applet
Comment[hu]=GNOME hal
Comment[ko]=GNOME 물고기
Comment[no]=Fisk
Comment[pl]=Rybka
Comment[pt]=Applet do peixe GNOME
Comment[nl]=Fortunes debiterende vis
Exec=fish_applet --activate-goad-server=fish_applet
Icon=
Terminal=0
Type=Application
