@import url("resource:///org/gnome/panel/HighContrast.css");
@import url("resource:///org/gnome/gnome-panel/theme/common.css");

gp-arrow-button {
  border: 2px solid #7f7f7f;
  border-radius: 3px;
  background-color: #ffffff;
  margin: 2px;
}

gp-arrow-button:hover {
  background-color: #ffffff;
}

gp-arrow-button:active {
  background-color: #000000;
}
