@import url("resource:///org/gnome/gnome-panel/theme/common.css");

panel-toplevel {
  background-color: #000000;
}

.gp-text-color {
  color: #ffffff;
}

.gnome-panel-menu-bar,
panel-applet > menubar,
gp-applet > menubar {
  background: transparent;
  box-shadow: none;
}

.gnome-panel-menu-bar menuitem:hover,
panel-applet > menubar menuitem:hover,
gp-applet > menubar menuitem:hover {
  background-color: #000000;
}

.gnome-panel-menu-bar > menuitem > label,
panel-applet > menubar > menuitem > label,
gp-applet > menubar > menuitem > label,
gp-applet > menubar > menuitem > box > label,
gp-calendar-window label,
#tasklist-button label,
#clock-applet-button label,
#showdesktop-button label {
  font-weight: normal;
  color: #ffffff;
}

.gnome-panel-menu-bar > menuitem:hover > label,
.gnome-panel-menu-bar > menuitem:hover > image,
panel-applet > menubar > menuitem:hover > label,
panel-applet > menubar > menuitem:hover > image,
gp-applet > menubar > menuitem:hover > .gp-text-color,
gp-applet > menubar > menuitem:hover > box > .gp-text-color  {
  color: #ffffff;
}

#tasklist-button:checked,
#clock-applet-button:checked,
#showdesktop-button:checked {
  background-color: #000000;
}

#tasklist-button:checked label,
#clock-applet-button:checked label,
#showdesktop-button:checked label {
  color: #ffffff;
}

wnck-pager:selected {
  background-color: #000000;
}

gp-arrow-button {
  border: 2px solid #7f7f7f;
  background-color: #000000;
}

gp-arrow-button:hover {
  background-color: #000000;
}

gp-arrow-button:active {
  background-color: #ffffff;
}
