@import url("resource:///org/gnome/panel/HighContrast.css");

gp-arrow-button {
  min-width: 20px;
  min-height: 0px;

  border: 2px solid #7f7f7f;
  border-radius: 3px;
  background-color: #ffffff;
  margin: 2px;
}

.vertical gp-arrow-button {
  min-width: 0px;
  min-height: 20px;
}

gp-arrow-button:hover {
  background-color: #ffffff;
}

gp-arrow-button:active {
  background-color: #000000;
}
