<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">

<!-- needs i18n work -->

<policyconfig>

  <action id="org.gnome.clockapplet.mechanism.settimezone">
    <description>Change system time zone</description>
    <message>Changing the system time zone requires privileges.</message>
    <defaults>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_self_keep_always</allow_active>
    </defaults>
  </action>

  <action id="org.gnome.clockapplet.mechanism.settime">
    <description>Change system time</description>
    <message>Changing the system time requires privileges.</message>
    <defaults>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_self_keep_always</allow_active>
    </defaults>
  </action>

  <action id="org.gnome.clockapplet.mechanism.configurehwclock">
    <description>Configure hardware clock</description>
    <message>Configuring the hardware clock requires privileges.</message>
    <defaults>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_self_keep_always</allow_active>
    </defaults>
  </action>

</policyconfig>
