[Desktop Entry]
Name=Clock
Name[ca]=Rellotge
Name[cs]=Hodiny
Name[de]=Uhr
Name[es]=Reloj
Name[et]=Kell
Name[eu]=Erlojua
Name[fi]=Kello
Name[fr]=Horloge
Name[gl]=Reloxio
Name[hu]=”ra
Name[it]=Orologio
Name[ja]=•Ø•Ì•√•Ø
Name[ko]=Ω√∞Ë
Name[nl]=Klok
Name[no]=Klokke
Name[pl]=Zegar
Name[pt]=RelÛgio
Comment[pt_BR]=RelÛgio
Name[sv]=Klocka
Name[uk]=Áœƒ…ŒŒ…À
Name[wa]=‘rlodje
Name[zh_TW.Big5]=Æ…ƒ¡
Name[zh_CN.GB2312]= ±÷”
Comment=Clock
Comment[ca]=Rellotge de GNOME
Comment[cs]=Hodiny
Comment[de]=GNOME-Uhr
Comment[es]=Reloj de GNOME
Comment[et]=GNOME kell
Comment[eu]=GNOME erlojua
Comment[fi]=Kello
Comment[fr]=Horloge GNOME
Comment[gl]=Reloxio de GNOME
Comment[hu]=”ra applet
Comment[it]=Applet orologio
Comment[ja]=•Ø•Ì•√•Ø
Comment[ko]=Ω√∞Ë
Comment[nl]=Klok
Comment[no]=GNOME klokke
Comment[pl]=Zegar
Comment[pt]=RelÛgio Gnome
Comment[pt_BR]=RelÛgio Gnome
Comment[sv]=Klocka
Comment[uk]=Áœƒ…ŒŒ…À
Comment[wa]=‘rlodje di Gnome
Comment[zh_TW.Big5]=Æ…ƒ¡
Comment[zh_CN.GB2312]= ±÷”
Exec=gen_util_applet --activate-goad-server=gen_util_clock
Icon=
Terminal=0
Type=Application
