[Desktop Entry]
Name=Clock
Name[cs]=Hodiny
Name[fr]=Horloge
Name[ko]=시계
Name[no]=Klokke
Name[de]=Uhr
Name[pl]=Zegar
Comment=Clock
Comment[cs]=Hodiny
Comment[fr]=Horloge Gnome
Comment[ko]=시계
Comment[no]=Gnome klokke
Comment[de]=GNOME Uhr Applet
Comment[pl]=Zegar
Exec=gen_util_applet --clock
Icon=
Terminal=0
Type=Application
