[Desktop Entry]
Name=Mailcheck
Name[es]=Buzón
Name[fr]=Mailcheck
Name[ko]=ÆíÁö È®ÀÎ
Name[no]=Postsjekk
Name[de]=Postkontrolle
Name[pl]=Monitor poczty
Name[pt]=Caixa Correio
Comment=Mailcheck
Comment[es]=Muestra si se recibió correo electrónico
Comment[fr]=Montre si on a reçu du courrier éléctronique
Comment[ko]=ÆíÁö È®ÀÎ
Comment[no]=Sjekk for post
Comment[de]=Überwachung des Posteingangs
Comment[pl]=Aplet monitoruj±cy skrzynkê pocztow±
Comment[pt]=Indica se há novo correio electrónico
Exec=gen_util_applet --mailcheck
Icon=
Terminal=0
Type=Application
