@import url("resource:///org/gnome/gnome-panel/theme/common.css");

wnck-pager:selected {
  background-color: @theme_selected_bg_color;
}

wnck-tasklist button {
  background-image: none;
}

#tasklist-button > box {
  background-image: linear-gradient(to top, rgba(252,252,252,.6) 3px, rgba(252,252,252,.8));
}
