/* This file will be included in both themes - Adwaita and HighContrast. */

gp-arrow-button {
  min-width: 20px;
  min-height: 0px;
}

.vertical gp-arrow-button {
  min-width: 0px;
  min-height: 20px;
}
