panel-toplevel {
  background-color: #e8e8e7;
}

.gnome-panel-menu-bar,
panel-applet > menubar,
clock-box {
  font: regular;
  background: transparent;
  color: #000000;
  box-shadow: none;
}

.gnome-panel-menu-bar menu,
panel-applet > menubar menu {
  font: regular;
}

.gnome-panel-menu-bar menuitem:hover,
panel-applet > menubar menuitem:hover {
  background-color: #4a90d9;
  color: #ffffff;
}

#tasklist-button,
#clock-applet-button,
#showdesktop-button {
  padding: 0px 4px;
  color: #000000;
  border: 0;
  border-radius: 0;
}

wnck-pager:selected {
  background-color: #4a90d9;
}

na-tray-applet {
  -NaTrayApplet-icon-padding: 2;
  -NaTrayApplet-icon-size: 16;
}

gp-arrow-button {
  min-width: 20px;
  min-height: 0px;

  border: 1px solid #9d9d99;
  border-radius: 3px;
  background-image: linear-gradient(to bottom, #e8e8e7, #dededd 60%, #cfcfcd);
  margin: 2px;
}

.vertical gp-arrow-button {
  min-width: 0px;
  min-height: 20px;
}

gp-arrow-button:hover {
  background-image: linear-gradient(to bottom, #f7f7f7, #e8e8e7 60%, #dededd);
}

gp-arrow-button:active {
  background-image: linear-gradient(to bottom, #c8c8c5, #dcdcda);
}

sn-button {
  padding: 4px;
}
