@import url("resource:///org/gnome/panel/Adwaita.css");

gp-arrow-button {
  min-width: 20px;
  min-height: 0px;

  border: 1px solid #1c1f1f;
  border-radius: 3px;
  background-image: linear-gradient(to bottom, #343a3a, #2f3434 60%, #2a2f2f);
  margin: 2px;
}

.vertical gp-arrow-button {
  min-width: 0px;
  min-height: 20px;
}

gp-arrow-button:hover {
  background-image: linear-gradient(to bottom, #3b4242, #343a3a 60%, #2f3434);
}

gp-arrow-button:active {
  background-image: linear-gradient(to bottom, #232727, #2d3232);
}
