panel-toplevel {
  background-color: #393f3f;
}

.gp-text-color {
  color: #ffffff;
}

.gnome-panel-menu-bar,
panel-applet > menubar {
  background: transparent;
  box-shadow: none;
}

.gnome-panel-menu-bar menuitem:hover,
panel-applet > menubar menuitem:hover {
  background-color: #215d9c;
}

.gnome-panel-menu-bar > menuitem > label,
panel-applet > menubar > menuitem > label,
gp-calendar-window label,
#tasklist-button label,
#clock-applet-button label,
#showdesktop-button label {
  font-weight: normal;
  color: #ffffff;
}

#tasklist-button,
#clock-applet-button,
#showdesktop-button {
  padding: 0px 4px;
  border: 0;
  border-radius: 0;
}

wnck-pager:selected {
  background-color: #215d9c;
}

na-tray-applet {
  -NaTrayApplet-icon-padding: 2;
  -NaTrayApplet-icon-size: 16;
}

gp-arrow-button {
  min-width: 20px;
  min-height: 0px;

  border: 1px solid #1c1f1f;
  border-radius: 3px;
  background-image: linear-gradient(to bottom, #343a3a, #2f3434 60%, #2a2f2f);
  margin: 2px;
}

.vertical gp-arrow-button {
  min-width: 0px;
  min-height: 20px;
}

gp-arrow-button:hover {
  background-image: linear-gradient(to bottom, #3b4242, #343a3a 60%, #2f3434);
}

gp-arrow-button:active {
  background-image: linear-gradient(to bottom, #232727, #2d3232);
}

sn-button {
  padding: 4px;
}
