[Desktop Entry]
Name=Bad applet
Name[ko]=나쁜 애플릿
Name[no]=Uskikkelig applet
Comment=The applet that torture tests your panel.
Comment[ko]=패널을 고통스럽게 시험하는 애플릿.
Comment[no]=Appleten som utsetter panelet for tortur.
Exec=bad-applet --activate-goad-server=bad-applet
Icon=
Terminal=0
Type=Application
