[Desktop Entry]
Name=Bad applet
Comment=The applet that torture tests your panel.
Exec=bad-applet --activate-goad-server=bad-applet
Icon=
Terminal=0
Type=Application
