[Desktop Entry]
Name=Panel
Comment=Global panel properties
Comment[de]=Globale Eigenschaften des Panels
Exec=gnome-panel-properties-capplet
Icon=gnome-panel.png
Terminal=0
Type=Application
