[Desktop Entry]
Name=Panel
Name[da]=Panel
Name[el]=Ôáìğëş
Name[es]=Panel
Name[fi]=Paneeli
Name[ga]=Painéal
Name[gl]=Panel
Name[it]=Pannello
Name[pt_BR]=Painel
Name[uk]=ğÁÎÅÌØ
Name[wa]=Scriftôr
Name[cs]=Panel
Comment=Global panel properties
Comment[da]=Globale panelegenskaber
Comment[de]=Globale Eigenschaften des Panels
Comment[el]=Êáèïëéêİò ñõèìßóåéò ôáìğëş
Comment[es]=Propiedades globales del panel
Comment[fi]=Paneelin yleiset asetukset
Comment[ga]=Cumraigh Painéal
Comment[gl]=Propiedades globais do panel
Comment[it]=Configurazione globalel del pannello
Comment[pt_BR]=Propriedades Globais do Painel
Comment[uk]=çÌÏÂÁÌØÎ¦ ×ÌÁÓÔÉ×ÏÓÔ¦ ĞÁÎÅÌ¦
Comment[wa]=Prôpietés globåles do scriftôr
Comment[cs]=Globální nastavení panelu
Exec=gnome-panel-properties-capplet
Icon=gnome-panel.png
Terminal=0
Type=Application
