PanelWidget {
	background-color: @theme_unfocused_bg_color;
}

.gnome-panel-menu-bar,
PanelApplet > GtkMenuBar.menubar {
	font: regular;
	color: @theme_unfocused_fg_color;
	background: transparent;
}

.gnome-panel-menu-bar,
PanelApplet > GtkMenuBar.menubar {
	box-shadow: none;
}

.gnome-panel-menu-bar .menu,
PanelApplet > GtkMenuBar.menubar .menu {
	font: regular;
}

.gnome-panel-menu-bar .menuitem:hover,
PanelApplet > GtkMenuBar.menubar .menuitem:hover {
	background-color: @theme_selected_bg_color;
	color: @theme_selected_fg_color;
}

PanelApplet #tasklist-button,
PanelApplet #clock-applet-button,
PanelApplet #showdesktop-button {
	padding: 0px 4px;
	color: @theme_unfocused_fg_color;
	border: 0;
	border-radius: 0;
}

PanelApplet #tasklist-button:checked,
PanelApplet #clock-applet-button:checked,
PanelApplet #showdesktop-button:checked {
	background-color: @theme_selected_bg_color;
	color: @theme_selected_fg_color;
}

WnckPager:selected {
	background-color: @theme_selected_bg_color;
}

NaTrayApplet {
	-NaTrayApplet-icon-padding: 2;
	-NaTrayApplet-icon-size: 16;
}
